[General]
;Windows users should use CP932.
encoding=CP932
;relative to pcrawl path.
cookie=Picrawler.yaml

[Danbooru]
user=
pass=
savedir=
sleep=2

[DeviantART]
user=
pass=
savedir=
sleep=2

[Fg]
user=
pass=
savedir=
sleep=3

;Flickr doesn't need registration
[Flickr]
sleep=2

[Gelbooru]
user=
pass=
savedir=
sleep=2

[Minitokyo]
user=
pass=
savedir=
sleep=2

[NicoSeiga]
user=
pass=
savedir=
sleep=3

[Piapro]
user=
pass=
savedir=
sleep=2

[PiXA]
user=
pass=
savedir=
sleep=2

[Pixiv]
user=
pass=
savedir=
sleep=3

[Tinami]
user=
pass=
savedir=
sleep=3

[Zerochan]
user=
pass=
savedir=
sleep=2
